//index.jade
extends layout.jade
block head
  title=title
block content
  script(src='../vendor/jquery/dist/jquery.min.js')
  script(src='javascript/app.js')




doctype html
html
  head
    title= title
  body
    h1 Welcome to #{title}
    p The date is now #{date.toLocaleDateString()}  //# is doing string manipulation
    p Breaking news:&#32;
      a(href=topStory.url)= topStory.title
